extends ../layout

block content
  .wrapper
    include ../header
    .container.content
      include ../nav
      main.main
        section
          .control
            a.control__link(href="/admin")
              span.btn-control
              | Назад
        section
          h2 Все заявки
          div(aria-label="Заявки")
            if fullRequests.length !== 0
              .table__head
                .table__cell.table__cell-date.first Дата
                .table__cell.table__cell-name Услуга
                .table__cell.table__cell-user Клиент
              each request in fullRequests
                .table__row
                  .table__cell.table__cell-date.first= request.createdAt
                  .table__cell.table__cell-name
                    = request.name
                    br
                    span.request__status(class=request.status.className) #{request.status.name}
                  .table__cell.table__cell-user #{request.user.firstName} #{request.user.phoneNumber}
                  a.table__row-link(href="/admin/requests/" + request.id)
            else
              .msg-info Ещё не было зарегистрировано ни одного обращения
