extends layout

block content
  .wrapper
    div.nav
      include nav
    case user.role.id
      when 1
        main.main.full-width
          section
            h2 Все заявки
            .block
              | Фильтр:
              .table
                .flex-table.header
                  .flex-row.table__id ID
                  .flex-row.first.table__user Клиент, Телефон
                  .flex-row.table__service Услуга
                  .flex-row.table__total Сумма
                  .flex-row.table__created Дата создания
                  .flex-row.table__scheduled Запланированное время
                  .flex-row.table__status Статус
                each request of requests
                  .flex-table.row
                    a.admin-requests__link(href="/requests/" + request.id)
                    .flex-row.table__id= request.id
                    .flex-row.first.table__user
                      if request.user.firstName
                        = request.user.firstName + ', '
                      span.phone= request.user.phoneNumber
                    .flex-row.table__service= request.service
                    .flex-row.table__total= request.total
                    .flex-row.table__created= request.createdAt
                    .flex-row.table__scheduled= request.scheduledTime
                    .flex-row.table__status= request.status.name
      default
        main.main
          if activeRequests && activeRequests.length !== 0
            section
              h2 Активные заявки
              each request in activeRequests
                a.requests__link(href="/requests/" + request.id)
                  .block.requests
                    .requests__info
                      if request.scheduledTime
                        div.requests__info-schedu= request.scheduledTime
                      div= request.name
                    .requests__status
                      .requests__status-name= request.status.name
                      div= request.total
                        | &nbsp;₽
            section
              h2 История обращений
              if completedRequests && completedRequests.total !== 0
                each request in completedRequests.items
                  a.requests__link(href="/requests/" + request.id)
                    .block.requests
                      .requests__info
                        .requests__info-date= request.createdAt
                        div= request.name
                      .requests__status
                        .requests__status-name= request.status.name
                        = request.total
                        | &nbsp;₽
              else
                .msg-warning__text История выполненых заявок ещё пуста
                  if activeRequests.length === 0
                    | .&nbsp;
                    a.link(href="/new-request") Создать новую заявку?
    aside.info
      include sidebar
